{% extends 'base_admin.html.twig' %}

{% block title %}Validations en attente{% endblock %}

{% block body %}
    <h1>Validation en attente</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Type</th>
                <td>{{ pending_validation.type }}</td>
            </tr>
            <tr>
                <th>Requête</th>
                <td>{{ pending_validation.requestId }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ pending_validation.statut }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ pending_validation.message }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('pending_validations_index') }}">Retour à la liste</a>

    <a href="{{ path('pending_validations_edit', {'id': pending_validation.id}) }}">Editer</a>

    {{ include('pending_validations/_delete_form.html.twig') }}
{% endblock %}
