{% extends 'base.html.twig' %}

{% block title %}GlyphsList{% endblock %}

{% block body %}
    <table class="table text-dark bg-secondary">
        <tbody>
            <tr class="bg-dark text-info">
                <th>Identifiant</th>
                <td>{{ glyphs_list.id }}</td>
            </tr>
            <tr class="bg-dark text-info">
                <th>Nom : </th>
                <td>{{ glyphs_list.name }}</td>
            </tr>
            <tr>
                <th>Description : </th>
                <td>{{ glyphs_list.description }}</td>
            </tr>
            <tr>
                <th>Propriétaire : </th>
                <td>{{ glyphs_list.characters }}</td>
            </tr>
            <tr>
                <th>Effet : </th>
                <td>{{ glyphs_list.effect }}</td>
            </tr>
            <tr>
                <th>Supports : </th>
                <td>{{ glyphs_list.support }}<br>
                    {{ glyphs_list.support2 }}<br>
                    {{ glyphs_list.support3 }}
                </td>
            </tr>
            <tr>
                <th>Prix : </th>
                <td>{{ glyphs_list.price }} PO</td>
            </tr>
            <tr>
                <th>Glyphe unique ? </th>
                <td>{{ glyphs_list.isunique ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Acheté ?</th>
                <td>{{ glyphs_list.bought ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Utilisé ? </th>
                <td>{{ glyphs_list.used ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Effet spécial ? </th>
                <td>{{ glyphs_list.special ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Personnalisation à l'achat ?</th>
                <td>{{ glyphs_list.personalization ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Modification salaire : </th>
                <td>{{ glyphs_list.evolSalary }} PO</td>
            </tr>
            <tr>
                <th>Modification du coût d'entretien du navire : </th>
                <td>{{ glyphs_list.evolMaintenance }}</td>
            </tr>
            <tr>
                <th>Modification du coût d'équippage du navire : </th>
                <td>{{ glyphs_list.evolStaff }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-dark text-info border-info btn-block" href="{{ path('glyphs_list_admin') }}">Retour à la liste</a>
<br>
    <a class="btn btn-dark text-info border-info btn-block" href="{{ path('glyphs_list_edit', {'id': glyphs_list.id}) }}">Modifier</a>
<br>
    {{ include('glyphs_list/_delete_form.html.twig') }}
{% endblock %}
