{{ form_start(form, {'attr': {'class': 'filters container-fluid'}}) }}
	<!-- <form class="filters container-fluid"> -->
		<div class="row align-items-center">
	    	<div class="col-md-5">
				{{ form_widget(form.recherche) }}
			</div>
			<div class="col-md-7">

				{% for key, order in form.order.children %}

					<div class="form-check form-check-inline">
				    	{{ form_widget(order, {'attr': {'class': 'form-check-input'}}) }} 
				    	{{ form_label(order, null, {'label_attr': {'class':'form-check-label'}}) }}
				    </div>
				{% endfor %}
			</div>
		</div>
		<br/> 

		<div class="row align-items-center">

			<div class="col-md-4">
			  	<div class="form-group">
			    	<label for="object.shop">Boutique</label>
			    	{{ form_widget(form.shop) }}
			  	</div>
			</div>
	    	<div class="col-md-4">
				<div class="form-group">
			    	<label for="type">Type : </label>
			    	{{ form_widget(form.type) }}
			  	</div>
			 </div>
			 <div class="col-md-4" id="subtypes">
				<div class="form-group">
			    	<label for="type">Sous-type : </label>
			    	{{ form_widget(form.subtype) }}
			  	</div>
			 </div>
			
		</div>
		<br/>
		<div class="clearfix">
			{{ form_widget(form.validate, { 'label': 'Rechercher' })}}

		</div>
		

<!-- 	</form> -->
{{ form_end(form) }}

<script>
function displaySubtitles( typeName ) {
	document.getElementById("subtypes").style.display = "block";
	document.querySelectorAll("#subtypes option").forEach( elem => {
		elem.style.display = elem.getAttribute("data-type") === typeName ? "block" : "none";
	});
}

/*
	Hi Christel ! The following line is equivalent to :
	document.getElementById("objects_search_type").onchange = function(e) {
		selectedIndex = e.target.selectedIndex;
		document.querySelector("#subtypes select").selectedIndex = 0; // to remove current selection on subtypes
		if(selectedIndex !== 0) {
			displaySubtitles(e.target.options[selectedIndex].value);
		}else{
			document.getElementById("subtypes").style.display = "none";
		}
	};

	Here are the links to help you understand
	https://developer.mozilla.org/fr/docs/Web/JavaScript/Reference/Op%C3%A9rateurs/Op%C3%A9rateurs_logiques
	https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/Arrow_functions
	https://stackoverflow.com/questions/1085801/get-selected-value-in-dropdown-list-using-javascript
*/
document.getElementById("objects_search_type").onchange = e => {
	document.querySelector("#subtypes select").selectedIndex = 0; 
	e.target.selectedIndex !== 0 ? displaySubtitles( e.target.options[e.target.selectedIndex].value ) : document.getElementById("subtypes").style.display = "none"
};

/* Should we display the subtypes when the page load ? */
document.getElementById("subtypes").style.display = document.querySelector("#objects_search_type option:checked").value === "" ? "none" : "block";
</script>