{% extends 'base.html.twig' %}

{% block title %}BonusEffectsList index{% endblock %}

{% block body %}
    <h1>BonusEffectsList index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Isunique</th>
                <th>Israre</th>
                <th>Description</th>
                <th>Add_glyph_place</th>
                <th>Bought</th>
                <th>Special</th>
                <th>Evol_salary</th>
                <th>Evol_maintenance</th>
                <th>Evol_staff</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bonus_effects_list in bonus_effects_lists %}
            <tr>
                <td>{{ bonus_effects_list.id }}</td>
                <td>{{ bonus_effects_list.name }}</td>
                <td>{{ bonus_effects_list.isunique ? 'Yes' : 'No' }}</td>
                <td>{{ bonus_effects_list.israre ? 'Yes' : 'No' }}</td>
                <td>{{ bonus_effects_list.description }}</td>
                <td>{{ bonus_effects_list.addGlyphPlace }}</td>
                <td>{{ bonus_effects_list.bought ? 'Yes' : 'No' }}</td>
                <td>{{ bonus_effects_list.special ? 'Yes' : 'No' }}</td>
                <td>{{ bonus_effects_list.evolSalary }}</td>
                <td>{{ bonus_effects_list.evolMaintenance }}</td>
                <td>{{ bonus_effects_list.evolStaff }}</td>
                <td>
                    <a href="{{ path('bonus_effects_list_show', {'id': bonus_effects_list.id}) }}">show</a>
                    <a href="{{ path('bonus_effects_list_edit', {'id': bonus_effects_list.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('bonus_effects_list_new') }}">Create new</a>
{% endblock %}
