{% extends 'base.html.twig' %}

{% block title %}BonusEffectsList{% endblock %}

{% block body %}
    <h1>BonusEffectsList</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bonus_effects_list.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ bonus_effects_list.name }}</td>
            </tr>
            <tr>
                <th>Isunique</th>
                <td>{{ bonus_effects_list.isunique ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Israre</th>
                <td>{{ bonus_effects_list.israre ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ bonus_effects_list.description }}</td>
            </tr>
            <tr>
                <th>Add_glyph_place</th>
                <td>{{ bonus_effects_list.addGlyphPlace }}</td>
            </tr>
            <tr>
                <th>Bought</th>
                <td>{{ bonus_effects_list.bought ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Special</th>
                <td>{{ bonus_effects_list.special ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Evol_salary</th>
                <td>{{ bonus_effects_list.evolSalary }}</td>
            </tr>
            <tr>
                <th>Evol_maintenance</th>
                <td>{{ bonus_effects_list.evolMaintenance }}</td>
            </tr>
            <tr>
                <th>Evol_staff</th>
                <td>{{ bonus_effects_list.evolStaff }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('bonus_effects_list_index') }}">back to list</a>

    <a href="{{ path('bonus_effects_list_edit', {'id': bonus_effects_list.id}) }}">edit</a>

    {{ include('bonus_effects_list/_delete_form.html.twig') }}
{% endblock %}
