{% extends 'base_admin.html.twig' %}


{% block body %}


</div>

    <table class="table text-dark bg-secondary">
        <tbody>
            <tr class="text-info bg-dark">
                <th>Identifiant : </th>
                <td>{{ alloys_list.id }}</td>
            </tr>
            <tr class="text-info bg-dark">
                <th>Nom : </th>
                <td>{{ alloys_list.name }}</td>
            </tr>
            <tr>
                <th>Description : </th>
                <td>{{ alloys_list.description }}</td>
            </tr>
            
            <tr>
                <th>Type : </th>
                <td>{{ alloys_list.type }}</td>
            </tr>
            <tr>
                <th>Support : </th>
                <td>{{ alloys_list.support }}
                    <br>{{ alloys_list.support2 }}
                    <br>{{ alloys_list.support3 }}</td>
            </tr>
            <tr>
                <th>Alliage acheté ? </th>
                <td>{{ alloys_list.bought ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Alliage utilisé ? </th>
                <td>{{ alloys_list.used ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Alliage unique ? </th>
                <td>{{ alloys_list.isunique ? 'Oui' : 'Non' }}</td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-dark text-info border-info btn-block" href="{{ path('alloys_list_edit', {'id': alloys_list.id}) }}">Modifier</a><br/>
    {{ include('alloys_list/_delete_form.html.twig') }} <br/>
    <a class="btn btn-dark text-info border-info btn-block" href="{{ path('alloys_list_index') }}">Retour à la liste</a>

    

    
{% endblock %}
