{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modifier l'utilisateur</h1>
{{ form_start(form) }}
    {{ form_label(form.username) }}
    {{ form_widget(form.username) }}
<br>
    {{ form_label(form.roles) }}
    {{ form_widget(form.roles) }}
<br>
    {{ form_label(form.pp) }}
    {{ form_widget(form.pp) }}

    <br>
    <button class="btn btn-dark text-info border-info btn-block">{{ button_label|default('Mettre à jour') }}</button>
{{ form_end(form) }}
    	    <br>
    	    <a href="{{ path('user_password', {id: user.id}) }}" class="btn btn-dark text-info border-info btn-block">Changer le mot de passe</a>
    	    <br>
			{{ include('user/_delete_form.html.twig') }}
			<br>
<a class="btn btn-dark text-info border-info btn-block" href="{{ path('user_index') }}">Retour à la liste d'utilisateurs</a>
{% endblock %}
