
{% extends 'base.html.twig' %}

{% block body %}
	<h1>Modifier le mot de passe</h1>

{{ form_start(form) }}

{{ form_label(form.password, 'Mot de passe : ') }}
    {{ form_widget(form.password.first) }}
<br>
    {{ form_widget(form.password.second) }}


    <br>
    <button class="btn btn-dark text-info border-info btn-block">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
	{% if is_granted('ROLE_ADMIN') %}
	    <br>{{ include('user/_delete_form.html.twig') }}
		<br><a class="btn btn-dark text-info border-info btn-block" href="{{ path('user_index') }}">Retour à la liste d'utilisateurs</a>
	{% endif %}
{% endblock %}


